<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>OOPS!!!</title>
    </head>
    <body class="not-found-page">
        <div class="not-found-container">
            <h1>OOPS!</h1>
            <h2>You are not logged in</h2>
            <hr>
            <div class="not-found-links">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </div>
    </body>
</html>